<h1>Customers</h1>

<%= render :partial => 'shared/last_name_filter', :locals => { :path => customers_path } %>

<% if @customers.any? %>

<table>
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Store</th>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.full_name, customer_path(customer) %></td>
        <td><%= customer.email.downcase %></td>
        <td><%= customer.address_id %></td>
        <td><%= customer.store_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @customers, :params => { :letter => params[:letter] } %>

<% else %>

<p>No records found.</p>

<% end %>
