<h1>Customers</h1>

<table style="border-collapse:collapse">
  <tr>
    <% ('A'..'Z').each do |letter| %>
     <td style="text-align:center; padding: 5px; width:30px; border:1px solid"><%= link_to_unless params[:letter] == letter, letter, customers_path(:letter => letter) %></td>
    <% end %>
  </tr>
</table>

<br>

<% if @customers.any? %>

<table>
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Store</th>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.full_name, customer_path(customer) %></td>
        <td><%= customer.email.downcase %></td>
        <td><%= customer.address_id %></td>
        <td><%= customer.store_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>

<p>No records found.</p>

<% end %>
