<h1><%= @customer.full_name %></h1>

<table>
  <thead>
    <th>Email</th>
    <th>Address</th>
    <th>District</th>
    <th>City</th>
    <th>Phone</th>
    <th>Store</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @customer.email.downcase %></td>
      <td><%= @customer.address.address %></td>
      <td><%= @customer.address.district %></td>
      <td><%= @customer.address.city_id %></td>
      <td><%= @customer.address.phone %></td>
      <td><%= @customer.store_id %></td>
    </tr>
  </tbody>
</table>

<h2>Rental history</h2>

<table>
  <thead>
    <th>Rental ID</th>
    <th>Title</th>
    <th>Rental date</th>
    <th>Return date</th>
  </thead>
  <tbody>
    <% @customer.rentals.each do |rental| %>
      <tr>
        <td><%= link_to rental.to_param, rental_path(rental) %></td>
        <td><%= link_to rental.film, film_path(rental.film) %></td>
        <td><%= rental.rental_date.to_formatted_s(:db) %></td>
        <td><%= rental.return_date.to_formatted_s(:db) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
