<div class="container">
  <div class="row">
    <div class="span9">
      <h1><%= @customer.full_name %></h1>
      <h3>Rental history</h3>
    </div>
    <div class="span3">
      <address>
        <%= @customer.address.address %><br>
        <%= "#{@customer.address.city.city}, #{@customer.address.district}" %><br>
        <%= @customer.address.country.country %><br>
        <abbr title="Phone">P:</abbr> <%= @customer.address.phone %><br>
        <%= mail_to @customer.email.downcase %>
      </address>
    </div>
  </div>
</div>

<% if @customer.rentals.unreturned.any? %>

<h3>Unreturned rentals</h3>

<table class="table table-condensed">
  <thead>
    <th>Rental ID</th>
    <th>Title</th>
    <th>Rental date</th>
  </thead>
  <tbody>
    <% @customer.rentals.unreturned.each do |rental| %>
      <tr>
        <td><%= link_to rental.to_param, rental_path(rental) %></td>
        <td><%= link_to rental.film, film_path(rental.film) %></td>
        <td><%= rental.rental_date.to_formatted_s(:db) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Returned rentals</h3>

<% end %>

<% if @customer.rentals.returned.any? %>

<table class="table table-condensed">
  <thead>
    <th>Rental ID</th>
    <th>Title</th>
    <th>Rental date</th>
    <th>Return date</th>
  </thead>
  <tbody>
    <% @customer.rentals.returned.each do |rental| %>
      <tr>
        <td><%= link_to rental.to_param, rental_path(rental) %></td>
        <td><%= link_to rental.film, film_path(rental.film) %></td>
        <td><%= rental.rental_date.to_formatted_s(:db) %></td>
        <td><%= rental.return_date.to_formatted_s(:db) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>

<p>No rentals found.</p>

<% end %>
