<h1><%= @customer.full_name %></h1>

<table>
  <% @customer.attributes.each do |key, value| %>
    <tr>
      <td><%= key %></td><td><%= value %></td>
    </tr>
  <% end %>
</table>

<h2>Rental history</h2>

<table>
  <thead>
    <th>Rental ID</th>
    <th>Title</th>
    <th>Rental date</th>
    <th>Return date</th>
  </thead>
  <tbody>
    <% @customer.rentals.each do |rental| %>
      <tr>
        <td><%= link_to rental.to_param, rental_path(rental) %></td>
        <td><%= link_to rental.film, film_path(rental.film) %></td>
        <td><%= rental.rental_date.to_formatted_s(:db) %></td>
        <td><%= rental.return_date.to_formatted_s(:db) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
