<h1>Rentals</h1>

<ul class="nav nav-tabs">
  <li><%= link_to "Unreturned rentals", unreturned_rentals_path %></li>
  <li class="active"><%= link_to "Returned rentals", returned_rentals_path %></li>
</ul>

<% if @rentals.any? %>

<table class="table table-condensed">
  <thead>
    <th>Rental ID</th>
    <th>Title</th>
    <th>Customer</th>
    <th>Rental date</th>
    <th>Return date</th>
  </thead>
  <tbody>
    <% @rentals.returned.each do |rental| %>
      <tr>
        <td><%= link_to rental.to_param, rental_path(rental) %></td>
        <td><%= link_to rental.film, film_path(rental.film) %></td>
        <td><%= link_to rental.customer.full_name, customer_path(rental.customer) %></td>
        <td><%= rental.rental_date.to_formatted_s(:db) %></td>
        <td><%= rental.return_date.to_formatted_s(:db) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @rentals %>

<% else %>

<p>No rentals found.</p>

<% end %>
