<br><br>

<table>
  <% @film.attributes.each do |key, value| %>
    <tr>
      <td><%= label_tag(key) %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
  <tr>
    <td><%= label_tag :actors %></td>
    <td>
    <% @film.actors.each do |actor| %>
      <%= link_to actor.full_name, actor_path(actor) %>&emsp;
    <% end %>
    </td>
  </tr>
  <tr>
    <td><%= label_tag :category %></td>
    <td><%= link_to @film.category.name, '#' %></td>
  </tr>
</table>

<br>

<%= link_to 'Back to films', films_path %>
