<!DOCTYPE html>
<html>
<head>
  <title>Sakila</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="container">

<%= link_to "Films", root_path %>&emsp;<%= link_to "Actors", actors_path %>&emsp;<%= link_to "Customers", customers_path %>&emsp;<%= link_to "Rentals", rentals_path %>

<%= yield %>

</body>
</html>
